*{
    margin: 0;
    padding:0;
    font-size: "Roboto",sans-serif;
    box-sizing: border-box;
    
}

body{
      background-color: #362a2a;
      background-size: cover;
}

header,footer{
    position: absolute;
    background-color: black;
    width: 100%;
    color: #fff;
}

header{
    height: 10vh;
}
    
.navbar {
        
    width: 1200px;
    height: 75px;
    margin:auto;
    color: #fff;
    display: flex;
}


.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align:left;
    flex-direction: row;
    display: flex;
    padding: 1rem 3rem;
    justify-content:space-between;
    align-items:center;
    
}
menu{
    width:400px;
    float:left;
    height:70px;
}

ul{
    list-style: none;
    display:flex;
    margin-right:40px;
    flex-direction: row;
    gap: 3rem;
    text-align: left;

}

 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}



h2{
    font-size: 60px;
    font-weight: 400;
    top: 10px;
    font-style: italic;
    color:#030303;
    text-align: center;
}

footer{
    background-color: #130e0e;
    bottom: 0;
    width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
}

#img-gal{
    height: 360px;
    padding: 30px;
}