*{
    margin: 0;
    padding:0;
    font-size: "Roboto",sans-serif;
    
}

body{
      background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/pic11.jpg);
      background-size: cover;
}
   


header,footer{
    position: absolute;
    background-color: black;
    width: 100%;
    color: #fff;
}

header{
    height: 10vh;
}
    

.navbar {
        
    width: 1200px;
    height: 75px;
    margin:auto;
    color: #fff;
    display: flex;
}


.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align:left;
    flex-direction: row;
    display: flex;
    padding: 1rem 3rem;
    justify-content:space-between;
    align-items:center;
    
}
menu{
    width:400px;
    float:left;
    height:70px;
}

ul{
    list-style: none;
    display:flex;
    margin-right:40px;
    flex-direction: row;
    gap: 3rem;
    text-align: left;

}

 ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

}

h{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

h1{
    font-size: 40px;
    font-style: italic;
    color: red;
}

p{
    font-size: 20px;
    font-style:normal;
    color: antiquewhite;
    text-align: justify;
}

footer {
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
    color: #140c0c;
    padding: 10px;
}